body {
  background-color: black;
  margin: 0;
}

div {
  color: white;
  width: 50%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 30px;
}
p {
  font-size: 24px;
}
a {
  font-size: 24px;
  color: teal;
}
/*  i am going insane */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #1f1f1f;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: black;
}

li a:hover:not(.active) {
  background-color: #555;
  color: #a6e90a;
  font-weight: bold;
}
