body {
  background-color: black;
}

div {
  color: white;
  width: 50%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 30px;
}
p {
  font-size: 24px;
}
a {
  font-size: 24px;
  color: teal;
}
/*  i am going insane */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
